interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://mangadex.org/api/?id=333636&type=chapter
  response:
    body:
      string: '{"id":333636,"timestamp":1527491643,"hash":"fc5c4d2c2bd416058aef372872c08ca0","volume":"4","chapter":"16.5","title":"Intermission","lang_name":"English","lang_code":"gb","manga_id":9570,"group_id":242,"group_id_2":0,"group_id_3":0,"comments":null,"server":"https:\/\/s4.mangadex.org\/data\/","page_array":["D1.png","D2.png","D3.png","D4.png","D5.png","D6.png"],"long_strip":0,"status":"OK"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://mangadex.org/api/?id=679966&type=chapter
  response:
    body:
      string: '{"id":679966,"status":"deleted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 410
      message: Gone
version: 1
